Flask>=3.0.0,<4
Flask-SQLAlchemy>=3.1.0,<4
Werkzeug>=3.0.0,<4
python-dotenv>=1.0.0,<2
setuptools==80.9.0
numpy==1.26.4
opencv-python-headless>=4.8.0,<5
Pillow>=10.0.0,<13
click>=8.1.0,<9
dlib-bin==20.0.1
face-recognition-models==0.3.0
twilio>=9.0.0,<10
gunicorn>=23.0.0,<24
psycopg2-binary>=2.9.9,<3
reportlab>=4.0.0,<5
openpyxl==3.1.5
tzdata>=2024.1

pypdf>=5.0.0,<6
pytesseract>=0.3.13,<0.4
